#container {
    height: 600px;
    width: 600px;
    position: absolute;
}

#describeGrid {
    position: relative;
    left: 600px;
}

button {
    position: absolute;
    left: 22em;
}

input {
    position: relative;
}